*{
  box-sizing: border-box;

}

body{
    background-image:url(../img/bg-2.png);

  }

/******************** PAGINA PRINCIPAL ************************/

/******** logo ************/

header{
      background-color: red;
      line-height: 40px;
      margin-top: 5px;
}

nav{
    display: inline-flex;
}

.logo{
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-self: center;
      margin-left: 20px;

}

.headeritems{list-style-type: none;
            color: white;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;

}

.headeritems li{
                margin-left: 20px;
              }

.headeritems li .Login {
      justify-content: flex-end ;


}


/************************** MAINNNNN *****************/


.MasterContainer{
                display: flex;
                align-items: stretch;
}

.flex-container{

          display: inline-flex;
          flex-direction:row;
          flex-wrap: wrap;
          justify-content: flex-start;
          width: 70%;
          padding: 10px;
}

.Celulares  {
            background-color: white;
            padding: 30px;
            width: 50%;

}

.Celulares img{
            width:100%;
}
.a-side{
        width: 25%;
        display:inline-flex;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;

        padding: 30px;

}
